body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.grid_principal {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.linha_cima,
.linha_baixo {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.linha_cima {
  height: calc(100% - 192px);
}

.linha_baixo {
  position: absolute;
  top: calc(100% - 192px);
  height: 192px;
  box-shadow: 0px 6px 50px 20px rgb(0 0 0 / 40%);
}

#div_playlists,
.cover {
  width: 10%;
}

.cover {
  display: flex;
  justify-content: center;
}

#div_musicas,
.botoes {
  width: 90%;
}

.btn {
  width: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.botoes {
  /* box-shadow: 0px -40px 40px -40px rgb(0 0 0 / 50%); */
  display: grid;
  grid-template-columns: calc(100% - 10vw) 10vw;
  background-image: linear-gradient(#1c0d49, #231661);
}

.botoes-play {
  margin: 0.5vw;
  height: 40px;
  width: 40px;
}

.botoes-rl {
  margin: 0.4vw;
  height: 25px;
  width: 25px;
}

.playlist {
  color: rgb(140 105 255);
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  margin: 0 0 5px 0;
  padding: 0 0 0 5px;
  border-radius: 3px;
}

.texto_active {
  color: white;
}

.musica_active {
  background-color: rgb(2, 0, 29);
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

section > article {
  display: grid;
  grid-template-columns: 50px 50% calc(calc(100% - calc(50px + 50%)) / 2) calc(calc(100% - calc(50px + 50%)) / 2);
  padding: 7px 0 7px 7px;
  margin: 0 7px 0 0;
  border-radius: 7px;
}

.texto_padrao {
  color: #e2e1ff;
  margin: 0 0 0 0;
  align-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  font-size: 90%;
}

.nome_musicas{
  margin: 0 0 0 15px;
  font-weight: bold;
  font-size: 100%;
}

.extensao {
  justify-self: center;
}

.artista {
  margin: 0 0 0 0;
}

.img {
  height: 100%;
  width: 100%;
}

.c-titulo {
  font-size: 110%;
  margin-left: 15px;
}

.c-album {
  font-size: 110%;
}

.c-ext {
  font-size: 110%;
  justify-self: center;
}

.slider {
  appearance: none;
  background: #0c0a1d;
  background-image: linear-gradient(#b5adff, #845cff);
  background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #ffffff; 
}

::-webkit-scrollbar-corner {
  background: #8b8b8b00;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background: #e2e1ff;;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background: #3f3b61;;
  width: 5px;
}

#cabeçalho_musicas {
  box-shadow: 20px 4px 20px 7px rgb(0 0 0 / 20%);;
  padding: 5px 10px 5px 5px;
  width: 100%;
} 

#botoes-meio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#artista{
  color: white;
  font-size: 95%;
  text-align: center;
}

#nome_musica {
  color: white;
  font-size: 150%;
  text-align: center;
  padding-bottom: 5px;
}
#slider_musica {
  background-size: 0% 100%;
  width: 50%;
  height: 12px;
  border-radius: 5px;
}

#div-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}

#duraçao_slider {
  position: absolute;
  left: 70%;
  margin: 0 0 3px 15px;
}

#slider_volume {
  background-size: 50% 100%;
  height: 12px;
  width: 80%;
  border-radius: 10px;
  transform: rotate(270deg);
}

#div-volume {
  display: flex;
  align-items: center;
  justify-content: center;
}

#div_playlists {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#1c0f47, #100238);
}

#div_musicas {
  display: flex;
  background-color: #1c0f47;
  /* background-image: linear-gradient(#17132a, #1c0f47); */
  align-items: center;
  flex-direction: column;
}

#lista_playlists {
  margin: 0 0 6px 0;
  padding: 0 0 0 5px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

#lista_musicas {
  padding: 10px 0px 30px 5px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

#lista_musicas > article {
  /* box-shadow: -15px -8px 20px -4px rgb(0 0 0 / 65%); */
  /* box-shadow: 0px -6px 20px -4px rgb(0 0 0 / 65%); */
}

#div-loop {
  display: flex;
  align-items: center;
  margin: 0 1.3vw 0 1.3vw;
  border-radius: 50%;
  ;
}

#div-random {
  display: flex;
  align-items: center;
  margin: 0 1.3vw 0 1.3vw;
  border-radius: 50%;
}

#prox {
  transform: scale(-1, 1)
}

#div-botoes {
  display: flex;
  align-items: center;
  margin: 5px 0 5px 0;
}
